@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
  font-family: 'logoFont'; /* or your font name */
  src: url('./assets/fonts/logoFont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
